// Colors
$white:         #fff;
$light-gray:    #EFEFEF; 
$medium-gray:   #C3C3C3;
$dark-gray:     #5F5F5F;
$black:         #111111;

$error    :#E63462; 
$success  :#73AECC;
$alert    :#CBEAA6;
$active   :#00ADAD;

// Typography
$primary-font     : 'Source Sans Pro', sans-serif;
$line-ratio       : 1.5;

$base-font-size   : 16px;

$normal     : 400;
$semi-bold  : 700;
$bold       : 900;

//Layout
$xs    : 530px; 
$sm    : 760px; 
$md    : 960px;
$lg    : 1400px; 
$xl    : 1920px;                         

